canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.chart-container {
    width: 100%;
    margin-left: 1px;
    margin-right: 1px;
    margin-bottom: 1px;
}
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.tticon{
    width: 16px;
    height: 16px;
    background-image: '../img/compass.svg';
}
.calendaricon{
    width: 16px;
    height: 16px;
    background-image: '../img/calendar.svg';

}
.ghx-swimlane{
    min-height: 27px;
}

.ghx-heading{
    margin-top: 2px !important;
    margin-bottom: 2px !important;
}
.ballparkGraph{
    float: left;
    height: 100%;
    width: 12px;
    font-size: x-small;
    text-align: center;
    /*top: 53px;*/
    z-index: 5;
    position: relative;
}
.ballparkGraph div{
    width: 100%;
}
.ballparkGraph div:nth-of-type(odd) {
    background-color:#c33;
    color: white;
}
        
.ballparkGraph div:nth-of-type(even) {
    background-color:#3cc;
}